<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta content="Jose Fernando Lopez" name="author">
	<meta content="Sitio Web OVI" name="description">
	<meta content="UNAD Diseño de sitios web" name="keywords">
	<title>OVI-UNAD</title>
	<link rel="stylesheet" href="../../css/style.css">
</head>



<body>


	<div id="contenedor">
	
     	<header>
     			<img class="pequeña" src="../../img/header.png" alt="header">
    	 </header>


    	
         <nav>
         <ul class="menu">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="#">Lecturas</a>
                <ul>
                    <li><a href="e_analisis.html">Análisis</a></li>
                    <li><a href="e_diseno.html">Diseño</a></li>
                    <li><a href="e_desarrollo.html">Desarrollo</a></li>
                    <li><a href="e_pruebas.html">Pruebas y Verificacion</a></li>
                    <li><a href="e_implementacion.html">Implementacion</a></li>
                    <li><a href="e_mantenimiento.html">Mantenimiento</a></li>
                </ul>
            </li>
            <li><a href="multimedia.html">Multimedia</a></li>
        </ul>
         </nav>

    	 
    	 <section>
    	  <center>

       <h1>ANALISIS</h1><br>

<p>Análisis: Determinar los requisitos de un producto o software debe ser la primer etapa para su desarrollo, esta etapa es tal vez  la más importante ya que si no se hace un buen “levantamiento de información” al realizar los diferentes tipos sistemas de recolección de la información, se puede desarrollar un software totalmente diferente al que solicito el cliente, para el desarrollo de esta etapa se puede afianzar sobre diferentes métodos de recolección de la información como lo son las encuestas, entrevistas, observaciones, simulaciones, técnicas audiovisuales y de inspección.</p>
<center> <img src="../../img/analisis1.jpg" width="380" height="300" alt="UN"> <img src="../../img/analisis2.jpg" width="380" height="300" alt="UN"> </center>

         </center>

    	 </section>


         <aside>
         <br>
          <center>  <img src="../../img/logo_vertical.png" width="180" height="100" alt="UN"></center>
         <br>            
                           <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/UNAD" data-widget-id="853765284980719617">Tweets sobre #UNAD</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <br>
         <center><a href="https://www.unad.edu.co/">UNAD Ir a Sitio Oficial</a></center>
         </aside>



    	 <footer>
    	 	
    	 	<center><a>Diseño de sitios web - Grupo 240 - Jose Fernando Lopez</a></center>

    	 </footer>


	</div>

	
</body>

<script src="js/modernizr.js"></script>
<script src="js/prefixfree.js"></script>


</html>