<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta content="Jose Fernando Lopez" name="author">
	<meta content="Sitio Web OVI" name="description">
	<meta content="UNAD Diseño de sitios web" name="keywords">
	<title>OVI-UNAD</title>
	<link rel="stylesheet" href="../../css/style.css">
</head>



<body>


	<div id="contenedor">
	
     	<header>
     			<img class="pequeña" src="../../img/header.png" alt="header">
    	 </header>


    	
         <nav>
         <ul class="menu">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="#">Lecturas</a>
                <ul>
                    <li><a href="e_analisis.html">Análisis</a></li>
                    <li><a href="e_diseno.html">Diseño</a></li>
                    <li><a href="e_desarrollo.html">Desarrollo</a></li>
                    <li><a href="e_pruebas.html">Pruebas y Verificacion</a></li>
                    <li><a href="e_implementacion.html">Implementacion</a></li>
                    <li><a href="e_mantenimiento.html">Mantenimiento</a></li>
                </ul>
            </li>
            <li><a href="multimedia.html">Multimedia</a></li>
            <li><a href="autores.html">Autor</a></li>
        </ul>
         </nav>


    	 
    	 <section>
    	  <center>
        <h1>ETAPAS DEL DESARROLLO DE SOFTWARE</h1>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/Cnheob-ohtE" frameborder="0" allowfullscreen></iframe>
         </center>

    	 </section>


         <aside>
         <br>
          <center>  <img src="../../img/logo_vertical.png" width="180" height="100" alt="UN"></center>
         <br>            
                           <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/UNAD" data-widget-id="853765284980719617">Tweets sobre #UNAD</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <br>
         <center><a href="https://www.unad.edu.co/">UNAD Ir a Sitio Oficial</a></center>
         </aside>



    	 <footer>
    	 	
    	 	<center><a>Diseño de sitios web - Grupo 240 - Jose Fernando Lopez</a></center>

    	 </footer>


	</div>

	
</body>

<script src="js/modernizr.js"></script>
<script src="js/prefixfree.js"></script>


</html>